<a href="https://colab.research.google.com/github/sajid-munawar/Data_Cleaning_with_python/blob/main/Solution_Notebook_Data_Cleaning_with_Python_Syntax_Errors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Practice Notebook: Data Cleaning with Python - Syntax Errors

## 2. Syntax Errors

#### <font color="blue">Pre-requisites</font>

In [ ]:
# Pre-requisite
# ---
# Importing pandas library
# ---
# OUR CODE GOES BELOW
# 
import pandas as pd

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# --- 
# Spelling mistakes/ Typos
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
# 

# Loading our dataset
# ---
# 
df = pd.read_csv('http://bit.ly/SampleDataset')

# Previewing our dataset
# ---
# 
df.head()

In [ ]:
# Replacing "GERMANYY" with "GERMANY"
# ---
# 
df['COUNTRY'] = df['COUNTRY'].str.replace('GERMANYY', 'GERMANY')
df.head()

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# White spaces: Stripping the leading and trailing spaces
# ---
# Dataset = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
# 

# Observing leading and trailing spaces in the city column
# ---
# 
df['CITY']

In [ ]:
# Stripping the leading and trailing spaces
# ---
# 
df['CITY'] = df['CITY'].str.strip()
df['CITY']

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# ---
# Pad Strings: We can also add pad strings as shown when added to the name column.
# Padding refers to addding (whitespaces or other characters) to every string element in the dataframe column.
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
# 

# We remove null values to avoid errors while padding
# ---
# 
df.dropna(how ='all', inplace = True) 
  
# We add white spaces to left side 
# ---
# 
df["NAME"]= df["NAME"].str.pad(12, side ='right', fillchar ='_') 

# Previewing our resulting dataset
# ---
# 
df.head()

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Fix the spelling errors in the Team variable within the following variable.
# ---
# Dataset url = http://bit.ly/NBABasketballDataset
# ---
# 
 
nba_df = pd.read_csv('http://bit.ly/NBABasketballDataset')
nba_df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter   oston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
# First step
# ---
# 
nba_df['Team'] = nba_df['Team'].str.replace('oston Celtics', 'Boston Celtics')
nba_df.head()

            Name             Team  Number  ... Weight            College     Salary
0  Avery Bradley  BBoston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  BBoston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  BBoston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter   Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  BBoston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
# Second step
# ---
# 
nba_df['Team'] = nba_df['Team'].str.replace('BBoston Celtics', 'Boston Celtics')
nba_df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
# Getting all our columns
# ---
# 
nba_df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Deal with the leading and trailing whitespaces from variables in the following dataset.
# ---
# Dataset url = http://bit.ly/NBABasketballDataset
# ---
# OUR CODE GOES BELOW
# 

# Getting all our columns
# ---
# 
nba_df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [ ]:
# Stripping the leading and trailing spaces
# ---
# 
# Stripping the leading and trailing spaces
# ---
# 
nba_df['Name'] = nba_df['Name'].str.strip() 
nba_df['Team'] = nba_df['Team'].str.strip()